* {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}


#MenuBar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
    display: block;
    color: white;
    padding: 1rem;
}